main.index {
    max-width: $main-content-width;
    margin: 0 auto;
    padding: $gutter;

    article {
        // border-top: 1px solid $article-border-color;
        margin-top: $gutter * 1.5;
        box-shadow: 0 0 $shadow-blur $shadow-radius #bdbdbd;
        border-radius: $card-border-radius;
    }

    .article-entry {
        padding: $gutter;
        padding-left: $gutter * 3;
    }

   .article-title {
        margin: 0;
        background-color: $anchor-color;
        text-transform: capitalize;
        font-size: 1.75rem;
        font-weight: normal;
        letter-spacing: 0.05em;
        color: #fff;
        box-shadow: 0 0 $shadow-blur $shadow-radius #bdbdbd;
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
    }

    .article-title > a {
         width: 100%;
         height: 100%;
         padding: $gutter * 1.5;
         display: inline-block
    }

    .article-title > a > button{
          padding: 0;
    }

    .article-meta {
         padding-left: $gutter * 6;
         padding-bottom: $gutter * 0.5;
    }

    .article-date {
        color: $article-date-color;
    }

    .page-nav {
        width: 100%;
        text-align: center;
        margin: $article-gutter auto;
        font-size: $page-nav-font-size;
        display: inline-block;

        .page-number {
            width: 2em;
            color: $anchor-color;
            display: inline-block;
            border: none;
            outline: none;
            letter-spacing: .2em;
            font-weight: bold;
            cursor: pointer;
            user-select: none;
            border-radius: 2px;
            text-align: center;
            align-items: flex-start;
            background-color: inherit;
        }

        .current {
            // color: $page-nav-current-page;
            color: inherit;
        }

        .extend {
            padding: 0 $gutter;
            color: $anchor-color;
        }
    }
}
