.app-nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: $gutter;

    a {
        color: $anchor-color;
        text-transform: capitalize;
        padding: 6px 10px;
        display: inline-block;
    }

    .active {
        background-color: $anchor-color;
    }

    .active > button {
        color: #fff;
    }
}
